body {
    text-align: center;
    background: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner {
    width: 900px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 900px;
    margin: auto;
}
img {
    height: 200px;
    width: 200px;
    padding: 10px;
    display: block;
    position: relative;
}
img::after {
    content: '';
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}
