@import url('http://fonts.cdnfonts.com/css/common-pixel');

body {
    text-align: center;
    background: url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Common Pixel', sans-serif;
                                                
}
.banner {
    width: 900px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 900px;
    margin: auto;
}
img {
    height: 200px;
    width: 200px;
    padding: 10px;
}

