@font-face {
    font-family: 'Common Pixel';
    font-style: normal;
    font-weight: 400;
    src: local('Common Pixel'), url('https://fonts.cdnfonts.com/s/7553/COMMP___.woff') format('woff');
}


body {
    text-align: center;
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Common Pixel', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
                                                
}
.banner {
    width: 900px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 900px;
    margin: auto;
}
img {
    height: 200px;
    width: 200px;
    padding: 10px;
}

